<li class="mr-4 mb-4 list-unstyled">
  <%= link_to about_path, class: "btn btn-outline-secondary" do %>
    About
  <% end %>
</li>
<li class="mr-4 list-unstyled">
  <%= link_to items_path, class: "btn btn-outline-secondary" do %>
    商品一覧
  <% end %>
</li>
<li class="mr-4 list-unstyled">
  <%= link_to new_customer_registration_path, class: "btn btn-outline-secondary" do %>
    新規登録
  <% end %>
</li>
<li class="mr-4 list-unstyled">
  <%= link_to new_customer_session_path, class: "btn btn-outline-secondary" do %>
    ログイン
  <% end %>
</li>
